.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  margin: 1.75em auto 0;
  top: 161px;
  z-index: 9999;
}

.circle-container:after {
  position: absolute;
  background-color: #868585;
  opacity: 0.4;
}

.outter-circle{
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  margin: 1.75em auto 0;
  bottom: 188px !important;
  left: 1px;
}
.inner-circle{
  position: absolute;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  margin: 1.75em auto 0;
  bottom: 56px;
  left: 56px;
}


.cols-m-t{
  margin-top: -116px;
  margin-bottom: -158px;
}

.center-circle{
  position: relative;
  top: 48px;
  font-weight: 500;
  z-index: 999999;
  cursor: pointer;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  text-align: center !important;
  left: 54px;
}
.center-circle strong {
  color:#fff;
  text-transform: uppercase;
}
.center-circle h4 {
    font-size: 25px;
    font-weight: bolder;

    position: relative;
    top: 35px;
}
.addmore {
    position: relative;
    bottom: 339px;
    z-index: 99999999;
    display: none;
}
.addmore a {
    color: #0192f0;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

.circle-tick{
  position: relative;
  top: 90px;
  color: #fff;
  display: none;
  z-index: 999999;
}
.circle-tick-true{
  display: block;
  z-index: 9999;
}
.circle-tick-false{
  display: none;
}
.container-hover{
  background-color: #EC8A49;
  opacity: 0.3;
  z-index: 9999;
}



.deg0 { transform: translate(10em); } /* 10em = half the width of the wrapper */
.deg00 { transform: rotate(75deg) translate(10em) rotate(-75deg); }
.deg120 { transform: rotate(120deg) translate(10em) rotate(-120deg); }
.deg30 { transform: rotate(30deg) translate(10em) rotate(-30deg); }
.deg45 { transform: rotate(45deg) translate(10em) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(10em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(10em) rotate(-135deg); }
.deg180 { transform: translate(-10em); }
.deg225 { transform: rotate(225deg) translate(10em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(10em) rotate(-315deg); }
.deg360 { transform: rotate(360deg) translate(10em) rotate(-360deg); }

.deg72 { transform: rotate(72deg) translate(10em) rotate(-72deg); }
.deg144 { transform: rotate(144deg) translate(10em) rotate(-144deg); }
.deg216 { transform: rotate(216deg) translate(10em) rotate(-216deg); }
.deg288 { transform: rotate(288deg) translate(10em) rotate(-288deg); }

.deg0 {
    position: relative;
    top: -41px;
    right: 49px;
}
.deg00 {
  position: relative;
  top: 5px;
  left: 70px;
}
.deg30 {
  position: relative;
  top: -98px;
  right: -105px;
}
.deg45 {
    position: relative;
    bottom: 81px;
    right: 122px;
}
.deg72 {
    position: relative;
    bottom: 196px;
    right: 80px;
}
.deg90 {
    position: relative;
    bottom: 129px;
    left: -40px;
}
.deg120 {
  position: relative;
  top: -57px;
  right: -59px;
}
.deg135 {
    position: relative;
    bottom: 90px;
    left: 122px;
}
.deg144 {
    position: relative;
    bottom: 222px;
    left: 98px;
}
.deg180 {
    position: relative;
    left: 271px;
    top: 160px;
}
.deg216 {
    position: relative;
    top: 124px;
    left: 146px;
}
.deg270 {
    position: relative;
    top: 61px;
    left: 111px;
}
.deg288 {
    position: relative;
    top: 74px;
    left: 166px;
}

.deg358 {
    position: relative;
    left: 111px;
    top: 160px;
}
.deg357 {
    position: relative;
    left: 243px;
    top: -17px;
}
.deg356 {
    position: relative;
    left: 265px;
    bottom: 179px;
}
.deg355 {
    position: relative;
    left: 254px;
    bottom: 344px;
}




div.dis {
  display: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #3598DB;
  padding-top: 10px;
  cursor: pointer;
}

div.dis h4 {
  font-size: 10px;
  color: #fff;
}

div.dis img{
  height: auto;
  max-width: 40%;
}
.btnmainControl {
    display: none;
}
.btnchildControl{
  display: none;
}

.circle-container span {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container span.check {
  top: 86% !important;
  left: 37% !important;
}

.circle-container span.check label{
  cursor: pointer;
}

.circle-container span.check img {
 width: 35px;
 height: 35px;
}

.zindex{
  z-index: 9999999999 !important;
}

.paragraph {
  position: relative;
  bottom: 140px;
}

.paragraph p {
    font-size: 13px;
    color: gray;
}

.rowsize {
  background-color: #F7F7F7; }
.hax-text-color-1 {
  color: #909090; }
.hax-text-color-2 {
  color: #4b4b4b; 
  text-transform: uppercase;
  margin-top: 16px;
}  
.continue {
  background-image: url(../images/continue.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px; 
  position: relative;
  top: -40px;
  background-color: transparent;
  border: 0px;}

.fixed-row {
  position: fixed;
  top: 80%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  margin-bottom: 20px;
  z-index: 9999999; }
  .fixed-rows{
    background-color: #FFFF;
    height: 75px;}

  /*::::::::::::::::::::::::::::: RESPONSIVE CODE ::::::::::::::::::::::*/

@media screen and (max-width: 480px) {
  .fixed-row {
    position: fixed;
    top: 79%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .fixed-row {
    position: fixed;
    top: 79%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .circle-container {width: 15em;height: 15em;top: 80px;}
  .outter-circle {width: 15em;height: 15em;}
  .inner-circle {width: 10em;height: 10em;bottom: 41px;left: 39px;}
  .center-circle {top: 24px;left: 27px;}
  .circle-container span.check {top: 82% !important;left: 24% !important;}
  .circle-tick {top: 57px;}
  .cols-m-t {margin-top: -87px;margin-bottom: -132px;}
  .paragraph {bottom: 178px;}
  .fixed-row {
      position: fixed;
      top: 74%;
      left: 0;
      right: 0;
      height: 0;
      text-align: center;
      margin-bottom: 20px;
  }
  .fixed-rows {
    height: 57px;
  }
  .continue {padding: 39px;top: 16px;}
  .sub-cat-background{background-color: #FAFAFA;}
  .bg-t-color{background-color: #00539D;border: 1px solid #00539D;z-index: 99999;height: 54px;color:#FFF;margin-bottom: 20px;}
  .bg-t-color a{margin-right: 13px;font-size: 29px;}
  .bg-t-color svg{margin-top: 10px;margin-left: 10px;color: #FFF;}
  .bg-t-color span{font-size: 22px;}
  .mobile-circle-container{width: 120px;height: 120px;border: 3px solid #009AD0;border-radius: 50%;background-color: #FFFFFF;}
  .odd-col-margin{margin-left: 13px;}
  .mobile-circle-container .mobile-check{position: relative;top: 72px;left: 71px;}
  .mobile-circle-container .mobile-check img{width: 33px;}
  .mobile-circle-container .mobile-inner-circle{position: relative;bottom: 41px;margin: auto;width: 50%;padding: 10px;}
  .mobile-circle-container .circle-text{position: relative;right: 10px;}
  .mobile-circle-container .circle-text strong{color: #009AD0;}
  .mob-sub-category{position: fixed;bottom: -20px;width: 342px;}
  .mob-sub-category-body {height: 200px;overflow: scroll;overflow-x: hidden;}
  .bg-b-color{padding: 11px;background-color: #00539D;border: 1px solid #00539D;z-index: 99999;height: 54px;color:#FFF;margin-bottom: 20px;}
  .bg-b-color a{color:#FFF;}
}

@media screen and (max-width: 992px) {
  .fixed-row {
    position: fixed;
    top: 79%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1088px) {
  .mob-sub-category-body {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
  }
  .odd-col-margin {
    margin-left: 22px;
  }
  .even-col-margin {
      margin-right: 25px;
  }
  .mob-sub-category {
    position: fixed;
    bottom: -20px;
    width: 389px;
  }

}

@media screen and (max-width: 1280px) {
  
}
@media screen and (min-width: 1920px) {
  .fixed-row {top: 87%;}
}



